
QMainWindow{
    background-color: #6A93D4;
}

QLabel{
    color:#224782;
    font-family: SFUIText-Light;
}
QChechBox{
    color:#224782;
}
/*
.ResultsWidget{
    background: #120A52;
}
.MainControlWidget{
    background-color: #120A52;
    color: white;
}*/
.ManagementWidget{
    background-color: #6A93D4;
}
QPushButton{
    background: white;
    border-radius: 5px;
}
QPushButton:hover{
    background: #C48D2B;
    color: white;
    border-radius: 5px;
}

/***********Настройки ПЛИС*************/
PlisSettings{
    background: #FFE0A9;
    border: 2px solid #D5A95D;
    font: bold 14px;
    /*margin-top: 3ex;*/
    padding-top: 20px;

}
PlisSettings::title {
    subcontrol-position: top center; /* position at the top center */
    color: #D5A95D;
}

PlisSettings QPushButton:hover{
    background: #120A52;
    color: white;
    border-radius: 5px;
}
PlisSettings QPushButton{
    background: white;
    border-radius: 5px;
}

/**************************************/
/***************История****************/
HistorySettings{
    background: #FFE0A9;
    border: 2px solid #D5A95D;
    font: bold 14px;
    /*margin-top: 3ex;*/
    padding-top: 20px;
}

HistorySettings::title{
    subcontrol-position: top center;
}
/**************************************/

/***************Результаты****************/
ResultsWidget{
    background: #FFE0A9;
    border: 2px solid #D5A95D;
    font: bold 14px;
    /*margin-top: 3ex;*/
    padding-top: 20px;
}
ResultsWidget::title {
    subcontrol-position: top center; /* position at the top center */
    color: #D5A95D;
}
/**************************************/


/***************Ошибки****************/
SignalErrWidget{
    background: #FFE0A9;
    border: 2px solid #D5A95D;
    font: bold 14px;
    /*margin-top: 3ex;*/
    padding-top: 20px;
}
SignalErrWidget::title {
    subcontrol-position: top center; /* position at the top center */
    color: #D5A95D;
}
/**************************************/

/***************Ошибки****************/
TransmitionSettings{
    background: #FFE0A9;
    border: 2px solid #D5A95D;
    font: bold 14px;
    /*margin-top: 3ex;*/
    padding-top: 20px;
}
TransmitionSettings::title {
    subcontrol-position: top center; /* position at the top center */
    color: #D5A95D;
}




QSplitter::handle{
    width: 2px;
    height: 2px;
    background: #4169A9;
}

QSplitter::handle:hover {
    width: 5px;
    height: 5px;
    background: #224782;
}

QSplitter::handle:pressed{
    width: 10px;
    height: 10px;
    background: #EFF5FF
}
/**************************************/

/*ShotViewer#shotviewer{
    background: #120A52;
}

HistorySettings#historysettings{
    background: #120A52;
}

EnterValueWidget#entervaluewidget{
    background: #120A52;
}
*/
